<div>
    {% url 'index' as index_url %}
    <span> {% if request.path == index_url %} Home {% else %}<a href="{{ index_url }}"> Home </a>{% endif %}</span>
    {% url 'about' as about_url %}
    <span> {% if request.path == about_url %} About Us {% else %} <a href="{{ about_url }}"> About Us </a>{% endif %}</span>
    {% url 'events' as event_url %}
    <span> {% if request.path == event_url %} Events {% else %} <a href="{{ event_url }}"> Events </a>{% endif %}</span>
    {% url 'contact' as contact_url %}
    <span> {% if request.path == contact_url %} Contact {% else %} <a href="{{ contact_url }}"> Contact </a>{% endif %}</span>
    {% url 'chapters' as chapters_url %}
    <span> {% if request.path == chapters_url %} Chapters {% else %} <a href="{{ chapters_url }}"> Chapters </a>{% endif %}</span>
    {% url 'committees' as committees_url %}
    <span> {% if request.path == committees_url %} Committees {% else %} <a href="{{ committees_url }}"> Committees </a>{% endif %}</span>
</div>
